.cta{
    margin-top: 250px;
    background-color: #2A2A31;
    height: fit-content;
    min-height: 250px;
    padding: 5% 10%;
    display: flex;
    align-items: center;
}
.cta-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: #FFFFFF;
}
.cta-1>h2{
    max-width: 430px;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    position: relative;
}
.cta-1>h2>img{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
