.testimonial{
    padding: 0 10%;
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;
}
/* container-1 */
.testimonial-container-1{
    flex: 1;
    position: relative;
    margin-right: 5%;
    height: 350px;
}
.review-box{
    background-color: var(--bg-color-base-1);
    padding: 5%;
    max-width: 450px;
    height: fit-content;
    border-radius: 20px;
    color: var(--font-color-base-1);
    box-shadow: -10px 20px 40px 0 #FFA50266;
}
.review-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-profile>h2{
    display: flex;
    align-items: center; 
    gap: 20px;
}
.review-profile>h2>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.review-profile-name>h4{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: 29px;
}
.review-profile-name>p{
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-paragraph);
    line-height: 33px;
}

.review-box>p{
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-medium);
    line-height: 40px;
    margin-top: 10px;
}
/* review button */
.review-button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.review-button>button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    margin: 0 10px;
}
.button-off{
    background-color: var(--font-color-base-2);
    color: var(--font-color-base-1);
}
/* review box */
.review-0{
    position: relative;
    background-color: var(--font-color-base-1);
    box-shadow: 0 15px 35px 0 #0000000D;
    color: var(--font-color-paragraph);
    transition: all 0.5s ease;
}
.review-1{
    position: absolute;
    top: -50px;
    right: 0px;
    transition: all 0.5s ease;
}
/* review animation */
#button-on-0{
    background-color: var(--bg-color-base-1);
    transform: translate(0,-50px);
    transition: all 0.5s ease;
    z-index: 20;
    box-shadow: -10px 20px 40px 0 #FFA50266;
    color: var(--font-color-base-1);
}
#button-off-0{
    transition: all 0.5s ease;
}
#button-on-1{
    background-color: var(--font-color-base-1);
    box-shadow: 0 15px 35px 0 #0000000D;
    color: var(--font-color-paragraph);
    transition: all 0.5s ease;
    transform: translate(0,50px);  
}
/* container 2 */
.testimonial-container-2{
    flex: 1;
    max-width: 450px;
}
.testimonial-container-2>h2{
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    line-height: 58px;
    color: var(--font-color-base-2);
}
.testimonial-container-2>p{
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-paragraph);
    line-height: 36px;
    color: var(--font-color-paragraph);
}
/* mobile style */
@media (max-width:450px){
    .testimonial{
        flex-direction: column;
        height: fit-content;
        gap: 100px;
    }
    .testimonial-container-1{
        order: 2;
    }
    .testimonial-container-2>h2{
        font-size: var(--font-size-medium);
        line-height: 34px;
    }
    .review-button{
        scale: .5;
        transform-origin: right;
    }
}