.teacher{
    padding: 5% 10%;
}
/* topic */
.teacher-topic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teacher-topic>h2{
    max-width: 370px;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
}
/* profile */
.teacher-container{
    display: flex;
    gap: 5%;
    margin: 5% 0;

}
.teacher-profile{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: 600px;
}
.teacher-profile>img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.teacher-profile>h3{
    margin-top: 20px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #3B3B3B;
}
.teacher-profile>p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #6F6F76;
}
.teacher-social{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
/* mobile style */
@media (max-width:450px){
    .teacher-topic{
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .teacher-topic>h2{
        font-size: 24px;
        line-height: 34px;
        max-width: 250px;
    }
    .teacher-container{
        flex-direction: column;
        gap: 100px;
        margin: 100px 0;
    }
    .teacher-profile{
        gap: 10px;
    }
    .teacher-social{
        gap: 10px;
        justify-content: center;
    }
}
