/* nav-bar button */
.add-on-button{
    height: fit-content;
    padding: 15px 20px;
    border-radius: 15px;
    color: var(--font-color-base-1);
    border: none;
}

button:hover{
    cursor: pointer;
}
/* props color */
.black{
    background-color: black;
    box-shadow: inset 0px -10px 20px 0px #585867;
    
}
.orang{
    background-color: var(--bg-color-base-1);
    box-shadow:  3px 3px 10px 1px #FFA5024D;
}