.band-logos{
    text-align: center;
    padding: 5% 10%;
}
.band-logos>h1{
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    line-height: 58px;
    color: var(--font-color-base-2);
}
.band-logos>img{
    margin: 30px 1%;
}
@media (max-width:450px){
    .band-logos>h1{
        font-size: var(--font-size-medium);
        line-height: 34px;
        margin-bottom: 20px;
    }
    .band-logos>img{
        margin: 5px;
    }
}